<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZrWenXue"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name="com.example.zrwenxue.moudel.main.center.crypt.CryptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.dic.DictActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.memory.MemoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.center.CenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.zrwenxue.moudel.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.word.singleworddetails.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.word.singleworddetails.SearchTempActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.anims.MyAnimActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.led.LEDActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.lottery.LotteryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.phrase.PhraseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.moudel.main.home.eng.SearchWordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent" />
        <activity
            android:name="com.example.zrwenxue.others.zrdrawingboard.DoodleViewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>